*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    text-transform: uppercase;
}
.nav-link:hover{
    color: white;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid lightgreen;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: lightgreen;
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.btn1{
    padding: 10px 10px;
    border-radius: 12px;
    color: whitesmoke;
    background-color: darkslateblue;
    outline: none;
    border: none;
}
.btnn{
    padding: 15px 40px;
    border: none;
    outline: none;
    position: relative;
    border-radius: 12px;
    color:bisque;
    background-color: darkslategray;
}
.foot{
    background-color: black;
    color: white;
}
.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}
.foot input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;

}
.foot::placeholder{
    color: white;  
}
