*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background: url('bg-s2.webp')no-repeat;
    background-size: cover;
}
.navbar-brand{
    font-size: 2rem;
    color: black;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid lightgreen;
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: lightgreen;
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.foot{
    background-color: black;
    color: white;
}
.foot input{
    height: 45px;
    width: 50%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}
.foot::placeholder{
    color: white;  
}
.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
}